<ion-view style="" class=" " id="page7" title="Menu">
    <ion-content class="has-header" padding="false"  ng-init="loadMenu()"  >


		<div class="row" ng-repeat="item in menu"  style="border-top: 1px solid  #fe8f00;">


			<div class="col col-50 "  ng-if="$index < menu.length" style="padding:1px;border-right:1px solid  #fe8f00" >

				  <div class="item item-image" href="#/page18"   style="border-width: 0px; border-style: none;">
					<img ng-click="showProductInfo(menu[$index].$id)"  ng-src="{{'img/fk/'+ menu[$index].image +'.jpg'}}"  width="100%" />
				  </div>


				  <a class="item item-icon-right assertive" href="#/page18" style="border-width: 0px; border-style: none;" >
					<p ng-click="showProductInfo(menu[$index].$id)"  style="font-size: 16px;text-align:left; ">
            {{menu[$index].name}} <br/>
					
			</div>


 			<div class="col col-50 " ng-if="$index+1-menu.length" style="padding:1px; margin-left: -40px;">

				  <div class="item item-image" style="border-width: 0px; border-style: none;">
					<img ng-click="showProductInfo(menu[$index+1].$id)"ng-src="{{'img/fk/'+ menu[$index+1].image +'.jpg'}}" width="100%" />
				  </div>

				  <a class="item item-icon-right assertive" style="border-width: 0px; border-style: none; margin-top: 40px;" >
					<p ng-click="showProductInfo(menu[$index+1].$id)"  style="font-size: 16px;text-align:left;">
            {{menu[$index+1].name}} <br/>
					

	</ion-content>
</ion-view>
